{ "username" : "gregory.elleouet@gmail.com",
  "applicationKey" : "4053b036-b1db-4bce-86bf-3355801fc52a",
  "applicationHost" : "https://www.jdevops.com/smarthome",
  "applicationHostLocal" : "http://192.168.0.10:8080/smarthome-application",
  "applicationHostRemote" : "https://www.jdevops.com/smarthome",
  "agentModel" : "Raspberry B+",
  "mac": "b8:27:eb:a6:bf:46"
}

